*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
}


body{
    
    height: 100%;
}

.container > *{
    border: 1px solid black;
    display: flex;
    min-height: 100px;
    


}
.container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-height: 1200px;

    max-width: 1200px;

    margin-left: auto;
    margin-right: auto;

    padding: 12px;
    background-color:   whitesmoke;

}


header{
    display: flex;
    background-color: rgb(121, 192, 192);
    border-style: dashed ;
    padding: 30px;
    height: 30px;
    
}

.link{
    display: flex;
    width: 100%;
    
    
}
    

h1{
    width: 100%;
    display: flex;
    border: 1px dashed black;
    background-color: orange;
    justify-content: space-between;

}

.blue{
    background-color: rgb(16, 31, 235);
    min-height: 300px ;
    justify-content: center;
    padding: 30px 0 30px 0;
 
 
 }

.pink{
    
    background-color: rgb(226, 131, 225);
    flex-wrap: wrap;
    display: flex;
    min-width: 50%;
    
}




.section{
    background-color: whitesmoke;
    min-height: 300px ;
    justify-content: center;
    padding: 30px 100px 30px 100px;
    

}

.grey{
    background-color: rgba(150, 140, 140, 0.686);
}

.uno{
    background-color: rgb(46, 174, 243);
    display: flex;
    min-width: 60%;
    border: 1px dashed black;
    
}

.due{
    background-color:  rgb(226, 131, 225);
    min-width: 40%;
    border: 1px dashed black;
}


.uno-middle{
    background-color:  rgb(226, 131, 225);
    min-width: 40%;
    border: 1px dashed black;

}
    
.due-middle{

    background-color: rgb(46, 174, 243);
    display: flex;
    min-width: 60%;
    border: 1px dashed black;
}


.big{
    padding:20px 45px 20px 45px;
    min-height: 600px;
    
}
.green{
    min-width: 90%;
    min-height: 80%;
    background-color: green;

}