*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}


body{
    
    height: 100%;
}

.container > *{
    
    display: flex;
    min-height: 100px;
    
    


}
.container {
    display: flex;
    flex-direction: column;
    
    min-height: 1200px;

    max-width: 1200px;

    margin-left: auto;
    margin-right: auto;

    padding: 12px;
    background-color:   rgb(32, 27, 27);
    

}


header{
    display: flex;
    background-color: rgb(121, 192, 192);
   
    padding: 30px 100px;
    height: 30px;
    
}

header nav{
    display: flex;
    min-width: 100%;
    
}


nav ul{
    display: flex;
    min-width: 33.33%;
    list-style-type: none;
    gap: 12px;
    border: 1px dashed black;
    justify-content:center;
}


li:last-child{
    text-align: right;

}
.link{
    display: flex;
    width: 100%;

    background-color: rgb(255, 170, 0);
    align-items: center;
    border: 1px dashed black;
    padding: 0;
    
    
}
   
div{
    display: flex;
}

.link div:last-child{
    width: max-content;
    display: flex;
    border: 1px dashed black;
    background-color: orange;
    min-width: 33.33%;
    justify-content: end;
    
   
}


.link div:first-child{
        width: max-content;
        display: flex;
        border: 1px dashed black;
        background-color: orange;
        min-width: 33.33%;
}

.blue{
    background-color: rgb(16, 31, 235);
    min-height: 300px ;
    justify-content: center;
    padding: 30px 0 30px 0;
    border-bottom: 1px solid rgb(130, 169, 242);
 
 
 }

.pink{
    
    background-color: rgb(226, 131, 225);
    flex-wrap: wrap;
    display: flex;
    min-width: 50%;
    
}




.section{
    background-color: whitesmoke;
    min-height: 300px ;
    padding: 30px 100px;
    

}

.grey{
    background-color: rgba(150, 140, 140, 0.686);
}

.uno{
    background-color: rgb(46, 174, 243);
    display: flex;
    min-width: 60%;
    border: 1px dashed black;
    
}

.due{
    background-color:  rgb(236, 166, 235);
    min-width: 40%;
    border: 1px dashed black;
}


.uno-middle{
    background-color:  rgb(236, 166, 235);
    min-width: 40%;
    border: 1px dashed black;

}
    
.due-middle{

    background-color: rgb(46, 174, 243);
    display: flex;
    min-width: 60%;
    border: 1px dashed black;
}


.big{
    padding: 30px 100px;
    min-height: 600px;
    
}
.green{
    min-width: 100%;
    min-height: 80%;
    background-color: green;
    border: 1px dashed black;

}

.little{
    display: flex;
    background-color: rgb(16, 31, 235);
    min-height: 300px ;
    width:calc(100% / 3 - 16px);
    justify-content: center;
    border: 1px dashed white;
}

.black{
    background-color: rgba(0, 0, 0, 0.648);
    padding: 30px 100;
    
    

}

.little:first-child{
    background-color: pink;
    padding: 100px;
    border: 1px dashed black;
}


.foot{
    display: flex;
    justify-content: center;
    padding:30px  100px;
    background-color: rgb(0, 0, 0);
}

.tools{
    width: 100%;
    display: flex;
    justify-content: space-between;

    background-color: rgb(72, 206, 224);
    align-items: center;
    
}


button{  
    border: 1px dashed black;
    background-color: pink;

}



.border{

    border: 1px dashed black;
}
